################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XONT.VENTURA.SOXLR71/.vs
/XONT.VENTURA.SOXLR71/packages
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.BLL/bin
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.BLL/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DAL/bin
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DAL/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DOMAIN/bin
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DOMAIN/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DOMAIN/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DOMAIN/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.DOMAIN/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/App_Themes/backup/Blue
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/App_Themes/backup/Green/images/360.jpg
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/App_Themes
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/App_Themes_V3
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/bin
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/jquery
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/js
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/node_modules
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/obj
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/Properties/PublishProfiles
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/aspnet_client/system_web
/XONT.VENTURA.SOXLR71/XONT.VENTURA.SOXLR71.WEB/packages
